<%- include("./partials/header") %>

<link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>

<div class=" container-fluid">
    <!-- <div class="col-sm-12 col-md-9 "> -->
        <div class="register-pg card mx-auto my-5 border-dark col-12 col-sm-9 col-md-7 col-lg-6">
            <div class = " register-pg jumbotron mb-0">
                <div class="h1 text-lg text-center text-info m-0 p-0">
                    Sign Up! &nbsp;<i class="fas fa-venus-mars"></i>
                </div>
            </div>
            <div class="card-body text-dark">
                <h3 class="card-title text-center mb-4 py-3 font-weight-bold">Enter the Following Details to Create an Account.</h3>
                <div>
                    <form action="/register" method="post" class="needs-validation" novalidate>
                        <div class="form-group row">
                                <span class="i-register col-1"><i class="fas  fa-user"></i></span>
                                <div class="col-9 mx-auto">
                                    <input required type="text" name="username" id="username" class="form-control" placeholder="Username" >
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                
                        </div>
                        <div class="form-group row">
                            <span class="col-1 i-register "><i class="fas fa-at"></i></span>
                            <div class="col-9 mx-auto ">
                                <input required type="email" name="email" class="form-control" placeholder="Email" >
                                <div class="invalid-feedback">
                                Please provide a valid Email-id.
                            </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <span class="col-1 i-register "><i class="fas fa-key"></i> </span>
                            <div class="col-9 mx-auto">
                                <input minlength="8" required type="password" name="password" class="form-control" placeholder="Password">
                                <div class="invalid-feedback">
                                     Your Password should be minimum 8 characters long.
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <span class="col-1 i-register "> <i class="fas fa-lock"></i> </span>
                            <div class="col-9 mx-auto">
                                <input minlength="8" required type="password" name="retypedpassword" class="form-control"placeholder="Retype Password" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="mx-4">
                                <div class="form-check pt-4">
                                    <input required class="form-check-input" type="checkbox" id="gridCheck1">
                                    By checking this, I agree to the terms and conditions and privacy policy of <strong>SetItUp</strong> and accept to abide by them at all times. Failure to do so can result in a temporary ban or permanent deletion of my account.
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto ml-5 my-4 pt-4 d-flex justify-content-between ">
                            <button type="submit" class = "btn btn-info " href="/profile" >Proceed to Set Up your Profile &nbsp;  <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
    </div>    
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
</script>

<%- include("./partials/footer") %>