<%- include("./partials/header") %>
<link rel="stylesheet" href="/stylesheets/getting-started.css">
<div class="container p-5">
    <div id="main-div" class="card text-center my-4 mx-auto">
        <div class="card-body">
            <h1 id="signIn" class="card-title">Get Started</i></h1>
            <p class="card-text">
            <form action="/getting-started" method="POST">
                <div class="input-group mb-3 myclass">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Contact No" aria-label="Username"
                        aria-describedby="basic-addon1" name="phNumber" required>
                        <small class="my-3">Please Note: You cannot change your Contact Number later! If you wish to change your number you will have to delete your existing account and create a new one with the same details.</small>
                </div>
                <div id="logIn" class="form-group form-check">
                    <button id="register" type="submit" class="btn btn-primary">Proceed<i id="proceedSymbol"
                            class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </form>
            </p>
        </div>
    </div>
</div>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>    
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="/scripts/form-validations.js"></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5edb6bcd6bc39dbb"></script>
</body>
</html>
